<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>管理面板</title>
		<?php $SRC = SADMIN_SRC;?>
		<script type="text/javascript" src="{$SRC}/scripts/jquery.min.js"></script>
		<script type="text/javascript" src="{$SRC}/scripts/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{$SRC}/css/bootstrap.min.css">
		<style>
			body{
				font-family: 'microsoft yahei',Arial,sans-serif;
				margin:0;
				padding:0;
			}
			.is-Overflow {
				overflow: auto;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-inverse navbar-fixed-top">
	            <div class="container-fluid">
	                <div class="navbar-header">
	                    <a class="navbar-brand" href="#"><b>管理界面</b></a>
	                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
	                        <span class="sr-only">导航</span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
	                </div>
	                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
	                    <ul class="nav navbar-nav">
							<?php 
								$jlclqk = U('Sadmin/Candidate/cv_status');
								$gbzpjd = U('Sadmin/Environment/change_stage');
								$bfsj = U('Sadmin/Environment/bk_DB');
								$dcjlxx = U('Sadmin/Information/export');
								$ypzdlrz = U('Sadmin/Candidate/login_log');
								$czglymm = U('Sadmin/District/reset_pwd');
								$zpxxcz = U('Sadmin/Environment/onekey_init');
								$exit = U('Manager/User/quit');
							?>
							<li><a href="{$jlclqk}"><i class="icon-chevron-right"></i>简历处理情况</a></li>
							<li><a href="{$gbzpjd}"><i class="icon-chevron-right"></i>改变招聘阶段</a></li>
							<li class="active"><a href="{$bfsj}"><i class="icon-chevron-right"></i>备份数据</a></li>
							<li><a href="{$dcjlxx}"><i class="icon-chevron-right"></i>导出简历信息</a></li>
							<li><a href="{$ypzdlrz}"><i class="icon-chevron-right"></i>应聘者登录日志</a></li>
							<li><a href="{$czglymm}"><i class="icon-chevron-right"></i>重置管理员密码</a></li>
							<li><a href="{$zpxxcz}"><i class="icon-chevron-right"></i>招聘信息重置</a></li>
	                    </ul>
	                    <ul class="nav navbar-nav navbar-right">
							<li><a href="{$exit}">退出</a></li>
						</ul>
	                </div>
	            </div>
	        </nav>
	        <br>
	        <div class="container theme-showcase" role="main" style="height:100%">
	            <div class="jumbotron"><br>
	            	<p>功能建设中…</p>
	            	<center>
		            	<div class="btn-group">
					 		<button class="btn btn-default" type="button">导出数据库</button>
						</div>
					</center>
	            </div>
	        </div>
		</div>
	</body>
</html>